* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, "Montserrat", BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  /* background-color: #fff; */
  /* color: #212121; */
  color: #2e2f42;

  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  font-weight: 400;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2 {
  margin: 0;
}

/* styles for task1 */
#categories {
  display: flex;
  row-gap: 24px;
  flex-wrap: wrap;
  max-width: 392px;
}

.item {
  display: block;
  width: 100%;
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  /* height: 264px; */
}

.item h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  padding: 0;
  margin: 0 0 16px 0;
}

.item ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.item li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  letter-spacing: 0.04em;
}

/* styles for task2 */
.gallery {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
  /* padding: 100px 156px;*/
}

.galleryItem {
  width: calc((100% - 48px) / 3);
}

.galleryImage {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

/* styles for task3 */
input,
input:active {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
}

#name-input {
  margin-bottom: 16px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

/* styles for task4 */
.form-label {
  display: block;
  padding: 0;

  /* margin-bottom: 8px; */
}

.form-input {
  margin-top: 8px;
}

.login-form {
  display: flex;
  /* display: block; */
  padding: 24px;
  flex-wrap: wrap;
  width: 408px;
  /* height: 256px; */
  border-radius: 8px;
  gap: 16px;
}

/* .form-label {
  margin-bottom: 8px;
} */

.button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  color: #fff;
  font-weight: 500;
}

.change-color {
  width: 148px;
}

.widget {
  text-align: center;
}
